In [2]:
import pandas as pd

In [5]:
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}
df = pd.DataFrame(data, index=["Product 1", "Product 2", "Product 3", "Product 4", "Product 5"])

In [7]:
data
df

           Location1  Location2  Location3  Location4
Product 1        100        200        150        300
Product 2         50         60         40         80
Product 3        300        400        350        500
Product 4        200        250        220        270
Product 5         80         90         70        100

In [8]:
#Display the first two rows of the inventory DataFrame.
df.head(2)

           Location1  Location2  Location3  Location4
Product 1        100        200        150        300
Product 2         50         60         40         80

In [15]:
#Get the total number of rows and columns in the DataFrame.
rows,columns=df.shape
rows,columns

(5, 4)

In [21]:
# List the column names and row indices.
#column name
column_name=df.columns
column_name

Index(['Location1', 'Location2', 'Location3', 'Location4'], dtype='object')

In [22]:
#Row indices
row_in=df.index
row_in

Index(['Product 1', 'Product 2', 'Product 3', 'Product 4', 'Product 5'], dtype='object')

In [24]:
#Display the data type of each column in the DataFrame

column_datatype=df.dtypes
column_datatype

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [25]:
#Check if there are any missing values in the DataFrame.
missing=df.isnull().sum()
missing

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [28]:
#Retrieve the stock levels for "Product3" across all locations.
Stock_pro3=df.loc["Product 3"]
Stock_pro3

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product 3, dtype: int64

In [30]:
# Extract the stock levels for "Location2" across all products.
Stock_loc2=df["Location2"]
Stock_loc2

Product 1    200
Product 2     60
Product 3    400
Product 4    250
Product 5     90
Name: Location2, dtype: int64

In [32]:
# Retrieve the stock levels of "Product 1" and "Product4" for "Location1" and "Location3"
select_stock=df.loc[["Product 1","Product 4"],["Location1","Location3"]]
select_stock

           Location1  Location3
Product 1        100        150
Product 4        200        220

In [33]:
#Slice the DataFrame to get the first 3 products and the first 2 locations.
df_slices=df.iloc[:3, :2]
df_slices

           Location1  Location2
Product 1        100        200
Product 2         50         60
Product 3        300        400

In [34]:
# Retrieve the stock level of "Product5" at "Location3" 
pro5_loc3_stock = df.loc["Product 5", "Location3"]
pro5_loc3_stock

70